// Define variables for your color scheme

// For example:
$pink: #FF007A;
$blue: #00A3FF;
$yellow: #EFE500;
$black: #172118;
$green: #18A855;
$grey: #797676;
$background-gray: #F7F7F7;
$light-grey: #F8F8F8;
$light-yellow: #FFFEE7;
$light-blue: #F2FAFF;
$light-pink: #FFF2F8;
$middle-grey: #E2DEDE; // for cards border
$border-light-grey: #DBDADA;
$red: red;
