// Define variables for your color scheme

$lightpink: #FA9A8F;
$lightblue: #78ABD6;
$lightyellow: #F6D979;
$black: #172118;
$green: #18A855;
$blue: #3F88C5;
$pink: #F87060;
$yellow: #F3CA40;
$grey: #797676;
$background-gray: #F7F7F7;
$light-grey: #F8F8F8;
$light-yellow: #FFFEE7;
$light-blue: #F2FAFF;
$light-pink: #FFF2F8;
$middle-grey: #E2DEDE; // for cards border
$border-light-grey: #DBDADA;
$red: red;
$box-shadow: rgba(150, 150, 150, 0.1)
