.container-page{
  background-color: $background-gray;

}
.flex-layout{
  display: flex;
  // flex-direction: column;
  position: sticky !important;
  height: 300vh;
  margin: 0 135px;
  position: relative;
}
.access-layout{
  width: 145px;
  position: fixed;
}
.posts-layout{
  width: 600px;
  background-color: darkgrey;
  margin-left: 145px;
}
.map-layout{
  width: 330px;
  position:fixed;
  right: 135px;
}
