.container-page{
  background-color: $background-gray;

}
.flex-layout{
  display: flex;
  // flex-direction: column;
  position: sticky !important;
  height: 300vh;
  margin: 0 135px;
  position: relative;
}
.access-layout{
  width: 145px;
  position: fixed;
}
.posts-layout{
  width: 600px;
  margin-left: 145px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.map-layout{
  width: 325px;
  position:fixed;
  right: 135px;
}
