body{
  background-color: $background-gray;
}

.container-page{
  width: 1200px;
  margin: 0 auto;
}
.flex-layout{
  display: flex;
}
.access-layout{
  flex-basis: 15%;
}
.posts-layout{
  flex-basis: 52%;
  padding: 0 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.map-layout{
  flex-basis: 33%;
}
.sticky-container{
  position: sticky !important;
  top: 55px;
}
