.new-post-window{
  // height: 140px;
  border: 1px solid $light-grey;
  border-radius: 3px;
  background: white;
  margin: 10px 0;
  width: 100%;
  box-shadow: 0 0 20px $box-shadow;
  border: 1px solid $middle-grey;
}

// .nav{
//   display: flex;
//   justify-content: space-between;
//   width: 590px;
// }

.form-group {
  margin: 0;
}
#perimeter-btn {
  position: absolute;
  bottom: 25px;
  left: 25px;
}
.nav-link {
  color: white !important;
  font-family: $headers-font;
  font-weight: 500;
  margin: 0 !important;
  border: none !important;
}
.nav-link:hover,  {
  background: green !important;
  border-color: transparent !important;
  border: none !important;
}
.nav-link:focus {
  background: blue !important;
  border-color: transparent !important;
  border: none !important;
}
.nav-link:active {
  background: blue !important;
  border-color: transparent !important;
  border: none !important;
}
.nav-yellow{
  background-color: $lightyellow !important;
}
.nav-yellow:hover{
  background-color: $yellow !important;
}
.nav-yellow:focus{
  background-color: $yellow !important;
}
.nav-yellow:active{
  background-color: $yellow !important;
}
.nav-blue{
  background-color: $lightblue !important;
}
.nav-blue:hover{
  background-color: $blue !important;
}
.nav-blue:focus{
  background-color: $blue !important;
}
.nav-blue:active{
  background-color: $blue !important;
}
.nav-pink{
  background-color: $lightpink !important;
}
.nav-pink:hover{
  background-color: $pink !important;
}
.nav-pink:focus{
  background-color: $pink !important;
}
.nav-pink:active{
  background-color: $pink !important;
}
.nav-tabs{
  border: none !important;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.nav:before, .nav:after {
  content: none !important;
}
.writing-post{
  width: 100%;
  background-color: $middle-grey;
  color: white;
  display: flex;
  align-items: center;
  padding: 5px 10px;
}
.writing-post p{
  margin: 0;
  padding: 0;
}
.writing-image{
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

// #info-tab {
//   background-color: $yellow;
// }
// #favour-tab {
//   background-color: $blue;
// }
// #event-tab {
//   background-color: $pink;
// }

// #info {
//   background-color: $light-yellow;
// }
// #favour {
//   background-color: $light-blue;
// }
// #event {
//   background-color: $light-pink;
// }
