.postion-photo-button{
  position: absolute;
  right: 20px;
}
.form-control{
  background-color: white;
  padding-bottom: 10px !important;
  border-bottom: 1px solid $light-grey !important;
  padding: 20px 25px !important;
}
input[type='file']{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
textarea{
  -webkit-appearance: none !important;
  outline: none !important;
  resize: none !important;
  border: none !important;
  box-shadow: none !important;
  height: 110px !important;
}

.perimeter-button{
  outline: none !important;
  border-radius: 0 !important;
  width: 250px !important;
  height: 40px;
  border-radius: 3px !important;
  text-indent: 60px !important;
  font-family: $body-font !important;
  font-size: 16px;
  margin-bottom: 10px;
}
select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none !important;
  padding: 5px !important;
  border: none !important;
  background-color: white !important;
}
select[include_blank]{
  text-align:center;
}

.post-button{
  background-color: $pink;
  color: white;
  font-family: $body-font !important;
  font-size: 16px;
  width: 250px !important;
  height: 37px;
  width: 250px ;
}
.yellow-post-color{
  border: 2px solid $yellow !important;
  color: $yellow;
}
.blue-post-color{
  border: 2px solid $blue !important;
  color: $blue;
}
.pink-post-color{
  border: 2px solid $pink !important;
  color: $pink;
}
.form-container{
  padding: 15px 0;
}
.button-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  margin-top: 8px;
}
.button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  width: 250px;
  margin-bottom: 10px;
  font-family: $body-font !important;
  font-size: 16px;
  border-radius: 3px;
  background: transparent;
  cursor: pointer;
  position: relative;
}
.button-long{
  height: 40px;
  width: 550px;
  margin: 0 auto;
  margin-top: 10px;
}
.button p {
  margin: 0;
}

.button-pink-transparent {
  border: 2px solid $pink;
}

.button-pink-transparent a {
  color: $pink;
  text-decoration: none;
}

.button-pink {
  background-color: $pink;
  color: white;
}
.button-yellow {
  background-color: $yellow;
  color: white;
}
.button-blue {
  background-color: $blue;
  color: white;
}
.button-blue-transparent {
  border: 2px solid $blue;
  font-weight: 400 !important;
  color: $blue;
}
.date{
  display: flex;
  flex-direction: column;
  font-family: $body-font !important;
  font-size: 16px;
}
.date a{
  text-decoration: none;
  color: $pink;
}
.date-button{
  text-align: center;
  text-decoration: none;
}

// .date-button p{
//   background-color: white;
//   padding: 4px 20px;
//   border: 2px solid $pink;
//   border-radius: 3px;
//   width: 250px;
// }

.age-button {
  margin-left: 8px;
}

.choose-date{
  display: flex;
  flex-direction: column;
}
.choose-age{
  display: flex;

  div {
    margin: 0 10px;
  }
}
.choose-age .form-control {
  padding: 10px 7px !important;
  height: 10px;
}






