<div class="new-post-window" id="new-post-window">
  <div class="tabs">
    <div class="tab" id="info-tab" onclick="unhideForm('information-form')">Info</div>
    <div class="tab" id="favour-tab" onclick="unhideForm('favour-form')">Favour</div>
    <div class="tab" id="event-tab" onclick="unhideForm('event-form')">Event</div>
    <div class="form" id="information-form">
      <%= render 'shared/form', post: @information, url: informations_path(@information) %>
    </div>

    <div class="form" id="favour-form" hidden>
      <%= render 'shared/form', post: @favour, url: favours_path(@favour) %>
    </div>

    <div class="form" id="event-form" hidden>
      <%= render 'shared/form', post: @event, url: events_path(@event) %>
    </div>
  </div>
</div>
