<div class="new-post-window">
  <div class="tab" id="info-tab" onclick="unhideForm('information-form')">Info</div>
  <div class="tab" id="favour-tab" onclick="unhideForm('favour-form')">Favour</div>
  <div class="tab" id="event-tab" onclick="unhideForm('event-form')">Event</div>


  <div class="form" id="information-form">
    <p>Ask a question or broadcast information</p>
    <%= render 'shared/form', post: @information %>
  </div>

  <div class="form" id="favour-form" hidden>
    <p>Ask for a favour</p>
    <%= render 'shared/form', post: @favour %>
  </div>

  <div class="form" id="event-form" hidden>
    <p>Create a new event</p>
    <%= render 'shared/form', post: @event %>
  </div>
</div>
