<div class="landing-layout">
  <div class="landing-layout-body">
    <h1>Let's make neighborhood great again!</h1>
    <h3>Connect easily with people around you</h3>
    <%= link_to('Connect to your neighborhood', new_user_registration_path) %>
  </div>
  <!-- <div class="landing-layout-footer">
    <p>Hoodi © 2018</p>
  </div> -->
</div>
