<%= simple_form_for([postable, response], remote: true) do |form| %>
<div id="new-response">
      <div>
        <%= cl_image_tag(current_user.photo, {class: "avatar-medium"}) %>
      </div>
      <div>
  <%= form.input :content, as: :text, input_html: {class: "new-response-content"}, label: false%>
  </div>
  <div id="comment-button">
  <%= form.button :submit, value: "Comment", class: "comment-button-form", label: false, placeholder: "Comment" %>
  </div>
  </div>
<% end %>


