.avatar-small{
  height: 23px;
  width: 23px;
  border-radius: 50%;
}
.avatar-medium{

}
.avatar-navbar{

}
/* Navbar User Avatar */
.avatar-navbar{
 height: 30px;
 width: 30px;
 border-radius: 50%;
 border: 1px solid #352B36;
}
