.avatar-small{
  height: 23px;
  width: 23px;
  border-radius: 50%;
}
.avatar-medium{
  height: 37px;
  width: 37px;
  border-radius: 50%;
  box-shadow: 0 0 20px $box-shadow;

}
.avatar-navbar{

}
/* Navbar User Avatar */
.avatar-navbar{
 height: 30px;
 width: 30px;
 border-radius: 50%;
 border: 1px solid #352B36;
}
