.card{
  position: relative;
  background-color: white;
  max-width: 600px;
  width: 590px;
  height: 200px;
  border-radius: 3px;
  margin-bottom: 10px;
  border: 1px solid $middle-grey;
}
.yellow-card{
  border: 1px solid $yellow;
}
.blue-card{
  border: 1px solid $blue;
}
.pink-card{
  border: 1px solid $pink;
}
.card-top{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  // position: absolute;
  // top: 0;
  height: 50px;
  margin-left: 7px;
}
.user-name{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 20px;
}
.user-name h2{
  font-family: $headers-font;
  font-size: 12px;
  font-weight: bold;
  color: $black;
  margin: 0;
}
.user-name p{
  font-family: $body-font;
  font-size: 10px;
  padding: 0;
  margin: 0;
  margin-top: 3px;
}
.time{
  display: flex;
}
.time-event{
  color: $pink;
}
.time-favour{
  color: $blue;
}
.time-information{
  color: $yellow;
}
.logo{
  width: 8px;
  height: 12px;
  margin-top: 4px;
  margin-left: 5px;
}
.dropdown-card{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
}
.card-content{
  height: 60px;
  padding-top: 20px ;
  padding-bottom: 80px;
  border-bottom: 1px solid $middle-grey;
  margin: 0 15px;
}
.title{
    font-family: $card-title;
    font-size: 12px;
    font-family: $headers-font;
    color: $black;
    position: absolute;
    left: 120px;
    margin: 0;
    top: 10.5px;
    color: black;
}
// .pink-title{
//   border-bottom: 5px solid $pink;
// }
// .blue-title{
//   box-sizing: border-box;
//   border-bottom: 5px solid $blue;
// }
// .yellow-title{
//   box-sizing: border-box;
//   border-bottom: 5px solid $yellow;
// }
.card-content p{
    font-size: 15px;
    padding: 0;
    font-family: $body-font;
    color: $black;
    text-align: justify;
}

.card-footer{
  height: 47.5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 15px;
  font-size: 15px;
  font-family: $body-font;
  // justify-content: space-between;
  padding: 0;
}
.footer-link{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px 0;
  font-size: 12px;
}
.footer-link a{
  text-decoration: none;
  color: $black;
}
.footer-link:hover{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px 0;
  background-color:$light-grey;
}
.logo-footer{
  width: 30px;
  height: 30px
}
.logo-footer-mapzer{
  width: 35px;
  height: 35px
}
