.card-info{
  background-color: white;
  width: 250px;
  height: 235px;
  border-radius: 10px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  margin: 20px;
  padding: 10px;
  border: 3px solid #F1E9DE;
}

.card-info-top{

}
.card-info-content{

}
.card-info-footer{

}

.card-favour{
  background-color: white;
  width: 250px;
  height: 235px;
  border-radius: 10px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  margin: 20px;
  padding: 10px;
  border: 3px solid #F1E9DE;
}

.card-favour-top{

}
.card-favour-content{

}
.card-favour-footer{

}

.card-event{
  background-color: white;
  width: 250px;
  height: 235px;
  border-radius: 10px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  margin: 20px;
  padding: 10px;
  border: 3px solid #F1E9DE;
}

.card-event-top{

}
.card-event-content{

}
.card-event-footer{

}
