.card{
  position: relative;
  background-color: white;
  width: 600px;
  border-radius: 3px;
  margin-bottom: 12px;
  box-shadow: 0 0 20px $box-shadow;
  border: 1px solid $middle-grey;
}
.body-card{
  padding: 20px 30px;
}
.post-badge{
  padding: 3px 6px;
  border-radius: 3px;
  color: white;
  font-size: 8px;
  font-weight: bold;
  background-color: $blue;
}
.card-content{
  // height: 60px;
  // padding-top: 20px ;
  padding-bottom: 20px;
}
.yellow-card .post-badge{
  background-color: $yellow;
}
.blue-card .post-badge{
  background-color: $blue;
}
.pink-card .post-badge{
  background-color: $pink;
}
.card-top{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  // position: absolute;
  // top: 0;
  // height: 50px;
}
.card-content p{
    font-size: 25px;
    padding: 5px 0;
    font-family: $post-font;
    color: $black;
    text-align: justify;
}
.image-post{
  width: 90%;
}
.user-name{
  margin-left: 25px;
}
.user-name h2{
  font-family: $headers-font;
  font-size: 12px;
  font-weight: bold;
  color: $black;
  margin: 0;
}
.user-name p{
  font-family: $body-font;
  font-size: 10px;
  padding: 0;
  margin: 0;
}
.user-name i{
  font-size: 4px;
  padding: 0;
  margin: 0 5px;
}
.avatar-post{
  width: 50px;
}
.time{
  display: flex;
  align-items: center;
}
.distance{
  display: flex;
  align-items: center;
  margin-top: 3px;
  color: $grey;
}
.distance img{
  margin-right: 10px;
  margin-top: 0;
  width: 8px;
  height: 12px;
}
.dropdown-card{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
}
// .title{
//     font-family: $card-title;
//     font-size: 12px;
//     font-family: $headers-font;
//     color: $black;
//     position: absolute;
//     left: 120px;
//     margin: 0;
//     top: 10.5px;
//     color: black;
// }
// .pink-title{
//   border-bottom: 5px solid $pink;
// }
// .blue-title{
//   box-sizing: border-box;
//   border-bottom: 5px solid $blue;
// }
// .yellow-title{
//   box-sizing: border-box;
//   border-bottom: 5px solid $yellow;
// }
.card-footer{
  height: 47.5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 10px;
  padding: 10px;
  font-size: 15px;
  font-family: $body-font;
  // justify-content: space-between;
  padding: 0;
  border-top: 1px solid $middle-grey;
}
.footer-link{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px 0;
  font-size: 12px;
}
.footer-link a{
  text-decoration: none;
  color: $black;
}
.footer-link:hover{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px 0;
  background-color:$light-grey;
}
.logo-footer{
  width: 20px;
}
.logo-footer-mapzer{
  width: 25px;
}

.response{
}

.hidden-content{
  color: red;
}

.underline{
  font-weight: bold;
  text-transform: uppercase;
  background-color: $background-gray;
}
.text-comment{
  display: flex;
  flex-direction: row;
  width: 470px;
  margin: 0 15px;
  padding: 10px 20px;
  background-color: $background-gray;
  border-radius: 50px;
  justify-content: flex-start;
  align-items: center;

}
.text-comment h1{
  font: $headers-font;
  color: $black;
  font-size: 15px;
  margin: 0;
  padding-right: 8px;
}
.text-comment p{
  font: $body-font;
  font-size: 15px;
  margin: 0;
}
.response-content{
  display: flex;
  // margin: 20px 5px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  margin-top: 10px;
}
#new-response{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 5px;
  padding-right: 5px;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.new-response-content{
  overflow: hidden;
  display: flex;
  height: 40px !important;
  font-size: 15px !important;
  margin: 0 15px;
  padding: 0 !important;
  background-color: $background-gray !important;
  border-radius: 50px;
  justify-content: flex-start;
  align-items: center !important;
}
.comment-button-form{
  font-size: 15px;
  background-color: $background-gray;
  box-shadow: 0 0 20px $box-shadow;
  border: 1px solid $middle-grey;
  font-weight: bold;
  color: $grey;
  margin-left: 30px;
}
.time-response{
  font: $body-font;
  font-size: 10px;
  color: $middle-grey;
}

.response {
  padding: 15px 5px;
}
